<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML lang="es" style="background-color: #c0d8f4 ;">
   <HEAD>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   	<link rel="stylesheet" type="text/css" href="../static/style/style.css" />
	<CENTER><TITLE>COMPUTACIÓN EN RED</TITLE></CENTER>
   </HEAD>
   <BODY> 
   <br>
   <div class="opciones">
   <center><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/179436/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line"></iframe></center><br>
   </div>
   <br>
   <div class="opciones">
   <center><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/179436/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line"></iframe></center>
	</div>
	<br>
	<a href="http://192.168.226.128/main"><div class="atras">
	</div></a>
   </BODY>
</HTML>
