<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML lang="es" style="background-color: #c0d8f4 ;">
   <HEAD>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   	<link rel="stylesheet" type="text/css" href="../static/style/style.css" />
	<CENTER><TITLE>COMPUTACIÓN EN RED</TITLE></CENTER>
   </HEAD>
   <BODY>
   <div class="encabezado"></div>
	<br>   
   <center> <table class="tabla">
      <thead>
        <tr>
            <th>Cotización</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        {% for n in lista %}
        <tr>
        <td>{{ lista[n]['Cotizacion']}}</td>
        <td>{{ lista[n]['Fecha']}}</td>
        <td>{{ lista[n]['Hora']}}</td>
      </tr>
        {% endfor %}
      </tbody>
    </table></center>
	<br>
<div class="opciones">
   	<center><p>Introduce el valor umbral que desee:</p></center>
   	 <center><form action="obtiene_sup_umbral" method="POST">
  Umbral (%):<br>
  <input type="text" name="Umbral"><br><br>
  <input type="submit" value="Enviar">
  </form></center>
  </div>
<br>
<div class="opciones">
<center><p>Para obtener la media de las cotizaciones pulse el siguiente valor:</p></center>
   	 <center><form action="media_cotizaciones" method="POST">
  <input type="radio" name="BBDD" value="MongoDB" checked>MongoDB<br>
  <input type="radio" name="BBDD" value="Thingspeak">Thingspeak<br><br>
  <input type="submit" value="Obtener media">
  </form></center>
</div>
<br>
<div class="opciones">
<center><p>Obtener gráficas:</p></center>
   	 <center><form action="obtiene_graficas" method="POST">
  <input type="submit" value="Ver gráficas">
  </form></center>
</div>
   </BODY>
</HTML>
