<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML lang="es">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <HEAD>
   	<center><h1>Cotización de la empresa BBVA</h1></center>
   	<style type="text/css">
body {
	width: 100%;
	heigth: 100%;
	background-color: blue;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html{
	width: 100%;
	heigth: 100%;
}
</style>
      <CENTER><TITLE>COMPUTACIÓN EN RED</TITLE></CENTER>
   </HEAD>
   <BODY> 
   <center> <table class="tabla">
      <thead>
        <tr>
            <th>Cotización</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Umbral</th>
        </tr>
      </thead>
      <tbody>
        {% for n in lista %}
        <tr>
        <td>{{ lista[n]['Cotización']}}</td>
        <td>{{ lista[n]['Fecha']}}</td>
        <td>{{ lista[n]['Hora']}}</td>
        <td>{{ lista[n]['Umbral']}}</td>
      </tr>
        {% endfor %}
      </tbody>
    </table></center>

   	<center><p>Introduce el valor umbral que desee:</p></center>
   	 <center><form action="" method="post">
  Umbral (%):<br>
  <input type="text" name="Umbral"><br><br>
  <input type="submit" value="Enviar">
  </form></center>


<!--    <center>	<table>
	<tr>
  <th scope="col">Fecha</strong></th>
  <th scope="col">Hora</strong></th>
  <th scope="col">Cotización</strong></th>
  <th scope="col">Umbral</strong></th>
</tr>
 
<tr>
  <td>CSS</td>
  <td>20</td>
  <td>16:00 - 20:00</td>
</tr>
</table>   </center>   -->  

<center><p>Para obtener la media de las cotizaciones pulse el siguiente valor:</p></center>
   	 <center><form action="" method="post">
  <input type="radio" name="BBDD" value="MongoDB" checked>MongoDB<br>
  <input type="radio" name="BBDD" value="Thingspeak">Thingspeak<br><br>
  <input type="submit" value="Obtener media">
  </form></center>


<center><p>Obtener gráficas:</p></center>
   	 <center><form action="" method="post">
  <input type="submit" value="Ver gráficas">
  </form></center>

   </BODY>
</HTML>
